<div class= "jumbotron">
	<h2>About us</h2>
	<p>Hello there!</p>

	<p>Im currently learning how to code and really enjoying it. Still very much a learner and this app is just practice. </p>
	<p> Thanks for stopping by. </p>
</d>